include README README.BSP README.MPI README.BSPlib LICENSE LICENCE MANIFEST.in HG_CHANGESET_ID
include bsp_virtual bsp_virtual_stackless
include scientific_win32_postinstall.py
include Scientific/*.pyx
include Scientific/*.c
include Src/MPI/Scientific_mpi.c Src/MPI/Scientific_mpi.export Src/MPI/mpipython.c Src/MPI/compile.py Src/MPI/impipython
include Src/BSPlib/Scientific_bsplib.c Src/BSPlib/Scientific_bsplib.export Src/BSPlib/bsppython.c Src/BSPlib/compile_bsponmpi.py Src/BSPlib/compile_oxford_toolset.py Src/BSPlib/ibsppython
include Tests/*.py
include Doc/CHANGELOG
include Doc/BSP_Tutorial.pdf
include Doc/Reference/*
include Examples/*.c Examples/*.py Examples/BSP/*.py Examples/README
recursive-include Include *.h
recursive-include Tools *.py
exclude Scientific/BSP/Tasks.py
